header{
    background-color: gray;
}
nav{
    float: right;
    margin: 30px;
}
a{
    margin: 10px;
    font-size: 30px;
    text-decoration: none;
    color:white;
}
.image{
    width: 500px;
    height: 300px;
} 
footer{
    background-color: purple;
    text-align: center;
}
p{
    font-size: 25px;
}
